#shutdown {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);;
	position: absolute;
	z-index: 999999;
	display: none;
}

#shutdown p {
	text-align: left;
}

.container {
	position: absolute;
	border-radius: 4px;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.outerouter {
	width: 446px;
	height: 311px;
}

.exit-shutdown {
	border-radius: 50%;
	border: 3.5px solid white !important;
	height: 28px;
	width: 28px;
	text-align: center;
	background-color: rgb(102, 0, 0);
	cursor: pointer !important;
}

.glyphicon-remove {
	color: white;
	cursor: pointer !important;
	margin: 2px 0 0 1px;
}

.outer {
	width: 400px;
	height: 300px;
	border: 3px solid white !important;
	z-index: -1;
}

.inner {
	width: 385px;
	height: 285px;
	border: 2px solid white !important;
	background-color: rgba(102, 0, 0, 0.6);
}

.inner p {
	font-size: 22px;
	margin-top: -5px;
}

.innerinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 80%;
}

#shutdown-menu {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

#restart, #quit {
	width: 130px;
	height: 130px;
	border-radius: 10px;
	border: 1px solid white;
	display: inline-block;
}

.pointer-cursor {
	cursor: pointer !important;
}

.glyphicon-repeat, .glyphicon-off-shutdown {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 64px;
	color: white;
	cursor: pointer !important;
}