canvas
{
    margin: auto auto;
    position: relative;
    top: 0px;
}

h1, p
{
    color: White;
    text-align: center;
}

h1
{
    font-size: 80px;
}

p
{
    font-size: 24px;
}

#game_window span
{
    float: left;
    cursor: pointer !important;
    font-size: 24px;
    margin-left: 7px;
}