.window
{
    display: none;
}

.topbar
{
    /*text-align: right;*/
    /*margin: 2px 3px;*/
    /*float: right;*/
    /*color: White;*/
    background-color: Red;
    width: 100%;
    /*border-bottom-style: double;*/
    /*border-bottom-color: Blue;*/
    /*border-bottom-width: 5px;*/
}

.topbar span
{
    /*margin: 2px 3px;*/
    /*text-align: right;*/
    margin: 2px 3px 3px 0;
    float: right;
    color: White;
    text-decoration: none;
    cursor: pointer;
    /*background-color: Red;*/
}

#pic_window
{
    height: 340px;
    width: 420px;
    background-color: Black;
    /*z-index: 5;*/
}

video
{
    width: 620px;
    height: 440px;
    position: relative;
}

#vid_window
{
    height: 470px;
    width: 620px;
    background-color: Black;
    /*z-index: 5;*/
    left: 200px;
    /*position: relative;*/
}

#game_window
{
    height: 630px;
    width: 750px;
    background-color: Black;
    /*z-index: 5;*/
    left: 200px;
    /*position: relative;*/
}

#folder_window
{
    height: 470px;
    width: 620px;
    background-color: White;
    /*z-index: 5;*/
    left: 200px;
    /*position: relative;*/
}

#resume
{
    width: 80px;
}

img.file
{
    width: 75px;
    height: 75px;
}

p.file
{
    color: Black;
    font-size: 18px;
}